* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #99c6;
    position: relative;
    
}

header {
    padding: 0.5rem;
    text-align: center;
    background-color: brown;
    color: whitesmoke;
    position: sticky;
    width: 100%;
    top: 0;
}


.heading {
    font-family: sans-serif;
}

header .heading {
    font-size: 2.5rem;
}

main .heading {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    border: 3px solid white;
    border-radius: 10px;
    display: inline-block;
    padding: 0.5rem;
    background-color: rebeccapurple;
    color: white;

}

.content {
    margin-top: 0.25rem;
    line-height: 1.2rem;
    padding-left: 5px;
   
}

.page.heading {
    font-size: 4rem;
}

footer {
    padding:1rem;
    margin-top: 1rem;
    text-align: center;
    background-color: brown;
    color: whitesmoke;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.control {
    color: blue;
    cursor: pointer;
    padding-left: 5px;
}

.control:hover {
    color: rgb(75, 75, 195);
}

.content:last-child {

}

