* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ddd;
    border-bottom: 2px solid #777;
}

header nav {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    
}

#hero {
    margin-left: 2rem;
    padding: 5px;
}

#hero #title{
    font-family: cursive;
    font-size: 2rem;
    
}

#hero #subTitle {
    padding: 0rem;
    font-family: monospace;
}

header nav a {
    color: #333;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: sans-serif;
}

main {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginForm {
    margin-top: -15rem;
    height: 45%;
    width: 50%;
    border: 2px solid #777777ff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 1rem
}

#loginForm input::-webkit-outer-spin-button,
#loginForm input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#loginForm div {
    margin: 0.5rem;
}

#loginForm h2{
    font-family: sans-serif;
    margin: 0.5rem 1rem 0.5rem 1rem;
    width: 100%;
    text-align: center;
    text-decoration: underline;
}
#loginForm div label {
    font-weight: 550;
    font-family: sans-serif;

}
#loginForm input {
    width: 100%;
    padding: 0.3rem;
}

#loginForm button {
    padding: 0.25rem;
    width: 60%;
    margin: auto;
    font-size: 1.2rem;
    font-weight: 750;
    background-color: #ddd;
    border: 2px solid #333;
    border-radius: 7px;
    opacity: 0.8;
}

@media (width > 1024px) {
    #loginForm {
        width: 30%;
    }
}